/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

div {
  font-family: "Montserrat", sans-serif;
} */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lugrasimo&display=swap");
* {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

/* .card {
  background: #ffffff;
  border: 0.4vmin solid #05060f;
  box-shadow: 0.3rem 0.3rem #05060f;
  overflow: hidden;
  color: black;
} */

.viewbtn {
  padding: 10px 40px;
  font-size: 18px;
  background-color: #333;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.viewbtn:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
  z-index: -1;
  background-color: #837e7e !important;
  box-shadow: 0 -4px rgba(55, 54, 54, 0.5) inset,
    0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset,
    4px 0 rgb(0 0 0 / 50%) inset;
}

.viewbtn:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.viewbtn:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset,
    -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

.viewbtn:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.viewbtn:active {
  transform: translateY(4px);
}

.viewbtn:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

.card {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
}

.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .img {
  width: 70px;
  height: 80px;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
}

.card button:hover {
  background: #534bf3;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0px 0px 20px 1px #534bf3;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

/* nav li:hover:active {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  border-radius: 10px;
  transition: 0.5s;
  padding: 0.5rem 2rem;
} */

/* nav li {
  padding: 0.5rem 2rem;
} */

nav ul {
  margin-right: 100px;
}

.card-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.cards {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.nav-button {
  cursor: pointer;
}

.swiper {
  /* width: 100%; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 500px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-pagination-bullet {
  background-color: #aba7a7 !important;
}

nav ul li {
  cursor: pointer;
}

.transition-nav {
  transition-property: background-color;
  transition-duration: 800ms;
}
/* .nav-list{
  transition: 0.5s;
  
} */

.nav-list {
  --s: 0.2em;   
  --c: #F87171; 
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#ffffff 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.nav-list:hover {--_p: 100%}

