.swiper {
  width: 100%;
  margin: auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  opacity: 0.5;
}

.swiper-slide-active {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  opacity: 1 !important;
}

.text-head:hover {
  letter-spacing: 1px;
}

.text-head {
  font-size: 120px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: 8px;
  transition: 700ms ease;
  margin-bottom: 0.8rem;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  background-color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 90px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

h2 {
  margin: 0;
  color: var(--accent);
  left: calc(65% + 130px);
  font-size: 30px !important;
  /* letter-spacing: -3px; */
  line-height: 1.2;
  position: absolute;
}

section {
  background: #06141d;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

section > div {
  background-color: #d54129 !important;
  width: 1000px;
  height: 450px;
  position: relative;
  max-height: 90vh;
  margin: 20px;
  background: var(--white);
  overflow: hidden;
  border-radius: 10px;
}

.img-work {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.letter-o {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5vw 0.5vw 0 1px rgba(0, 0, 0, 0.2);
  width: 90px;
  height: 90px;
}

.counter {
  background-color: #1f2937;
  border-radius: 50%;
  box-shadow: inset 1vw 1vw 0 1px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0) rotate(0deg);
  width: 50%;
  height: 50%;
  animation: counter 6s cubic-bezier(0.75, -1.21, 0.59, 1.89) infinite;
}

@keyframes counter {
  0%,
  12%,
  25% {
    width: 60%;
    height: 60%;
  }
  37%,
  50% {
    width: 50%;
    height: 70%;
    transform: translate3d(0, 0, 0) rotate(8deg);
  }
  63%,
  75% {
    width: 70%;
    height: 70%;
  }
  87%,
  100% {
    width: 60%;
    height: 60%;
  }
}

.transition-social {
  transition-property: background-color;
  transition-duration: 800ms;
}

.page-background {
  background-image: url("/src/assets/computer.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-bg {
  background-color: transparent;
}

.title {
  background: url("/src/assets/sky/star.jpg");
  background-position: 40% 50%;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.3em;
  text-anchor: middle;
  text-align: center;
}

.article {
  background: radial-gradient(#e4664c, hsl(0, 0%, 100%)) fixed;
  background: conic-gradient(#e4664c, hsl(0, 0%, 100%), #e4664c) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.desc-card {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.img-about {
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  filter: grayscale(50%);
}

.img-about:hover {
  transform: scale(1);
  filter: grayscale(0%);
}

.sky-img {
  width: 350px;
  height: 300px;
  display: flex;
  gap: 20px;
}

.sky-img p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sky-img p:hover {
  flex: 4;
}

.sky-img p span {
  min-width: 15em;
  padding: 0.5em;
  text-align: center;
  transition: all 0.5s;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 4rem;
}

.roller {
  height: 4.2rem;
  line-height: 4.1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 480px;
  color: #ef4444;
  left: 10px;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 7s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f1faee;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
  }
}

.card-work:hover .img-work {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
.card-work .img-work {
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}
.card-work:hover{
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.3);

}